body {margin:auto; width:95%;}
ul {list-style-type:none; margin:0; padding:0;}
iframe {
	width:100%; 
	height:100%; 
	border:1px solid #aaa;
	margin-top:10px;
}
h1,h2 {
	font-family: 'Open Sans', arial;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-weight:300;
}
input[type="text"] {
	width: 100%;
	height: 44px;
	display: block;
	position: relative;
	moz-appearance: none;
	-webkit-appearance: none;
	padding: 0 8px;
	margin: 3px 0px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	color: #404040;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}
input[type="submit"] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	height: 44px;
	cursor:pointer;
}
input[type="submit"]:hover {
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
}
footer {
	font-size:14px;
	color: #aaa;
	text-align:center;
	position:absolute;
  	bottom:0;
  	left:0;
  	text-align:center;
  	width:100%;
  	padding:20px 0;
}

#chat {width:100%; height:80%;}
#send_message {margin-top:2%; height:10%;}

.left {float:left;}
.right {float:right; text-align:right;}
.clear {clear:both}
.center {text-align:center;}
.small-title {
	font-family: 'Open Sans', arial;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-size: 18px;
	font-weight: normal;
}
.signin-card {
	width: 274px;
	padding: 40px 40px;
}
.card {
	background-color: #f7f7f7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	width: 304px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
}
#connexion #salon {margin-bottom:20px;}
#connexion-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#body-connexion {
	margin-top:150px;
}

#frm_send_message input {
	float:left;
}
#frm_send_message input[type="text"] {
	width:500px
}
#frm_send_message input[type="submit"] {
	width:100px;
	margin: 3px 0px;
	height:44px;
}
#send_message .left {
	width:80%;
}

#exit {
	width: 100px;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ed4630;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #fe634d;
	background-image: -webkit-linear-gradient(top,#fe634d,#ed5a47);
	height: 44px;
	cursor:pointer;
}
#exit:hover {
	border: 1px solid #b7472f;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #e84a35;
	background-image: -webkit-linear-gradient(top,#fe634d,#e84a35);
	background-image: -moz-linear-gradient(top,#fe634d,#e84a35);
	background-image: -ms-linear-gradient(top,#fe634d,#e84a35);
	background-image: -o-linear-gradient(top,#fe634d,#e84a35);
	background-image: linear-gradient(top,#fe634d,#e84a35);
}
.msg {
	padding:8px 0px;
}
#salons-block {float:left; width:15%;}
#salons-block h2 {font-size:22px; text-align:left;}
#interface {float:left; width:85%;}

#exit-page {height:100%;}
#exit-page .card {margin-top:200px; text-align:center;}


.button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	height: 44px;
	cursor:pointer;
	font-size:17px;
}
.button:hover {
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
}

#ajax h2 {position:fixed; top:20px; left:30px;}
#ajax #interface {margin-left:15%;}
#ajax #chat { margin-top:20px; margin-bottom: 80px; border-left:1px solid #e7e7e7; padding-left:20px;}
#ajax #chat li {padding:8px;}
#ajax #send_message {
	position:fixed;
	bottom:0px;
	background:white;
	width:80%;
}
